<a href="https://colab.research.google.com/github/Jihyun-Eun/bioinformatics/blob/main/bio_informatics_python_basic_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python 기초 문법 복습

In [17]:
#형식을 갖춘 문자열

name = "은지현"
subject = "python"
age = 20


print("이름 : %s, %d %s %f %s" %(name, age, subject, 5.1, True))
print("이름 : {} 나이 : {} 과목 : {}".format(name, age, subject))
print(f"이름 : {name} 나이 : {age} 과목 : {subject}")

이름 : 은지현, 20 python 5.100000 True
이름 : 은지현 나이 : 20 과목 : python
이름 : 은지현 나이 : 20 과목 : python

In [18]:
#li 빈리스트 만들고 반복문을 이용하여 빈 리스트에 1부터 10까지 값을 추가하고 출력
li = []

#1부터 10까지 값 출력(반복문 이용)
for i in range(1, 11):
    li.append(i)
print(li)

#리스트 컴프리 헨션
li1 = [i for i in range(1, 11) if i % 2 == 0]
print(li1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [19]:
#1. 5개의 숫자를 입력받아 리스트에 저장한 후 입력된 반대 순서대로 출력하기
#리스트 메소드 reverse
#출력결과 리스트타입
li1 = []
for i in range(3):
    number = int(input("숫자입력 : "))
    li1.append(number)

# li1.sort() #오름차순정렬
# li1.sort(reverse = True) #내림차순정렬
li1.reverse() #정렬아님, 입력된 반대순서대로 출력
print(li1)

숫자입력 : 1
숫자입력 : 2
숫자입력 : 3
[3, 2, 1]